name: blocodenotas
description: A Flutter notepad application for Android and Web with support for .txt and .md files
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  file_picker: ^6.0.0
  path_provider: ^2.1.0
  flutter_markdown: ^0.6.18
  markdown: ^7.1.1
  universal_html: ^2.2.4
  universal_io: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
